<% @places.each do |place| %>
 <div style="width:500px;height:150px;border:1px solid #000;box-shadow:">
    <h3><%= place.name %></h3>
    <h3><%= place.address %></h3>
    <h3><%= place.description %></h3>
    </div> <br>
<% end %>